.statusBubble {
  background-color: #3182ce;
  color: #ffffff;
  font-weight: 600;
  font-size: 16.93px;
  line-height: 100%;
  padding: 8.91px 22.28px;
  border-radius: 4.46px;
}

.cursor {
  cursor: pointer;
}
