.categoryRow {
  display: flex;
  gap: 0.5rem;
}

.subcategoryList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 2rem;
}

.subcategoryRow {
  display: flex;
  gap: 0.5rem;
}

.inputField {
  width: 100%;
  max-width: 16rem;
}
