.content {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
}

.photoFrame {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 0.5rem;
  overflow: hidden;
}

.photoImage {
  object-fit: cover;
}

.fieldLabel {
  margin-bottom: 0.25rem;
  font-weight: 700;
}

.fieldValue {
  margin: 0;
}

.quantityInput {
  max-width: 10rem;
}

.isHiddenCheckbox {
  font-weight: 700;
}
