:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
}

.ticket-card {
  border: 0px;
  padding: 24px;
  margin-bottom: 24px;
}

.ticket-card-text {
  text-decoration: none;
  color: black;
}
