.itemCard {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}

.itemImage {
  border-radius: 0.5rem;
  object-fit: cover;
  width: 5rem;
}

.inStock {
  margin: 0;
  font-weight: 600;
  color: #24704a;
}

.outOfStock {
  margin: 0;
  font-weight: 600;
  color: #c53030;
}

.quantityInput {
  max-width: 5rem;
}

.btnContainer {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
