.card {
  overflow: hidden;
  width: 200px;
}

.cardImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.cardLink {
  text-decoration: none;
}

.cardTextWrapper {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  word-break: break-word;
  padding: 0 12px 12px 0;
  box-sizing: border-box;
}

.name {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.address {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
