.userCard {
  background: #fff;
  border-radius: 0px;
  box-shadow: none;
  border-top: 2px solid #e2e8f0;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 24px;
}

.noBottomMargin {
  margin-bottom: 0;
}

.profilePicture {
  width: 3.4375rem;
  height: 3.4375rem;
  border-radius: 50%;
  object-fit: cover;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
  flex-shrink: 0;
}

.profilePicturePlaceholder {
  width: 3.4375rem;
  height: 3.4375rem;
  border-radius: 50%;
  background: #d9d9d9;
  flex-shrink: 0;
}

.userText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.emailLink {
  text-decoration: none;
}

.userName {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.userEmail {
  color: #4a5568;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
