.userPfp {
  margin-right: 10px;
}
.userLink,
.userEmail {
  color: #333;
  text-decoration: none;
}

.userRole {
  text-transform: uppercase;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
