.statusBubble {
  font-weight: 600;
  font-size: 16.93px;
  line-height: 100%;
  padding: 8.91px 22.28px;
  border-radius: 4.46px;
}

.statusRequested {
  background-color: #eeedff;
  color: #6921c0;
}
.statusReady {
  background-color: #e7ffee;
  color: #24704a;
}
.statusRejected {
  background-color: #ffefef;
  color: #c53030;
}
.statusApproved {
  background-color: #ffebf6;
  color: #822c65;
}
.statusFulfilled {
  background-color: #ebf8ff;
  color: #2c5282;
}
